body{
  background-color: rgba(156, 160, 160, 0.541);
  text-align: center;
  color:white;
  font-weight:400;
  text-align: left;
  font-family: sans-serif;
  
}
.container{
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid gray;
  margin: 0 auto;
}

.container{
  width: 70%;
  padding: 0;
  text-align: left;
  border: 1px solid rgba(224, 25, 25, 0.363);
  margin: 0 auto;
}

.post h1{
  font-size: 20px;
}
.cabecera #id{
font-size: 15px;
margin-left: 10px;;
}

.cabecera{
  background: rgb(255, 255, 255);
  padding: 1px 10px;
  box-shadow: 1px 9px 9px -1px rgba(0,0,0,0.75);
  display: flex;
  border-top-color: white;
}
.cabecera h3{
  color:rgb(248, 113, 113);
}

.post{
  padding: 1rem;
  background-color: rgba(255, 87, 21, 0.555);
}



.cabecera .logo{
  width: 75px;
  vertical-align: middle;
<<<<<<< HEAD
=======
}
.footer{
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgba(140, 214, 214, 0.568);
}

.footer img{
  width: 25px;
  height: 25px;
  margin: 0px 20px;
>>>>>>> footer
}

